#form {
  display: flex;
  justify-content: center;
}
#app {
  display: flex;
  justify-content: center;
}
form {
  border: 1px solid black;
  padding: 10px;
}
form div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
form input {
  padding: 0px 20px;
  margin: 0px 5px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}
form label {
  padding: 10px 15px;
  margin: 0px 5px;
  font-size: large;
}
form button {
  padding: 5px 30px;
  font-size: large;
  border: none;
  background-color: violet;
  border-radius: 8px;
}
.tbl {
  border: 1px solid gray;
}
#tblDiv {
  display: flex;
  justify-content: center;
}
