#form {
  display: flex;
  justify-content: space-between;
}
#app {
  display: flex;
  justify-content: space-between;
}
form {
  border: 0.5px solid black;
  padding: 20px 0px;
}
form div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
form input {
  padding: 0px 5px;
  margin: 0px 5px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}
form label {
  padding: 0px 15px;
  margin: 0px 5px;
  font-size: large;
}
form button {
  padding: 5px 30px;
  font-size: large;
  border: none;
  background-color: violet;
  border-radius: 8px;
}
.tbl {
  margin-top: 25px;
  border: 0.2px solid gray;
  width: 600px;
  border-collapse: collapse;
  text-align: center;
}
.trclass td,
.trclass tr,
.trclass th {
  border: 0.2px solid gray;
  border-collapse: collapse;
  padding: 10px;
}
#tblDiv {
  display: flex;
  justify-content: center;
}
#toggle {
  display: flex;
  justify-content: flex-end;
}
#toggle button {
  background-color: violet;
  padding: 5px 15px;
  height: 30px;
  border: none;
  border-radius: 10px;
  /* color: white; */
}
.backButton {
  background-color: violet;
  border: none;
  padding: 8px 15px;
  font-size: large;
  border-radius: 5px;
}
.delete {
  border: none;
}
